* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  list-style: none;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #f72585;
}

.square {
  background: #fdfffc;
  border: 1px solid #000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 110px;
  height: 110px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 110px;

  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: fit-content;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.game {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.game-info {
  height: 100%;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
}

.move {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
.btn-jump {
  background: #fff;
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  color: #4285f4;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  padding: 6px 10px;
  text-align: center;
}

.btn-jump:hover,
.selected {
  color: #fff;
  background: #219ebc;
}

.btn-sort {
  border-radius: 3px;
  border: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  font-size: 12px;
  font-weight: bold;
  line-height: 12px;
  padding: 6px 10px;
  text-align: center;

  cursor: pointer;
  transition: 0.3s ease;
}

.ascending {
  color: #fee440;
  background: #011627;
}

.descending {
  color: #011627;
  background: #fee440;
}

.square-player-one {
  color: #4285f4;
}

.square-player-two {
  color: #f8333c;
}

.winner {
  color: #000814;
  background: #cbf3f0;
}
